nav {
  padding: 16px;
  margin: 18px 0 18px 0;
}

#cosmosbookstore {
  margin: 0 0 0 6.5rem;
}
/* Typography imported from Google Fonts */
@import url('https://fonts.googleapis.com/css?family=Playfair+Display|Source+Sans+Pro:200,400');

h1, h2, h3, h4, h5, h6 {
  font-family: 'Playfair Display', serif;
}


/* Generic styles */
html {
  scroll-behavior: smooth;
}

a:hover {
  opacity: .6;
}

/* books styles */

.books {
  margin: 3rem 3rem 3rem 0;
}

.books > ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 1.5rem;
}

.books > ul > li {
  border: 1px solid #E2E2E2;
  border-radius: 1rem;
  margin: 1rem;
}

.books > ul > li > a {
  text-decoration: none;
  color: white;
}

.books > ul > li > a > .item 
{
  position: relative;
}

.books > ul > li > a > .item > .item-overlay 
{
  bottom: 0;
  width: 100%;
  position: absolute;
  background-color: rgba(59, 30, 30, 0.8);
  height: 8rem;
  padding: 0.5rem;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.books > ul > li > a > .item > .item-overlay > .book-title
{
  font-family: 'Playfair Display', serif;
  font-size: 1rem;
  font-weight: 600;
}

.books > ul > li > a > .item > .item-overlay > .book-author
{
  font-family: 'Playfair Display', serif;
  font-size: .8rem;

}
