

#cosmosbookstore {
  margin: 0 0 0 6.5rem;
}
/* Typography imported from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;1,300&display=swap');

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
}


/* Generic styles */
html {
  scroll-behavior: smooth;
  background-color:#232323
}

a:hover {
  opacity: .6;
}

/* books styles */

.books {
  margin: 3rem 3rem 3rem 0;
}

.books > ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 1.5rem;
  list-style-type: none;
}

.books > ul > li {
  border: 1px solid #E2E2E2;
  border-radius: 1rem;
  margin: 1rem;
}

.books > ul > li > a {
  text-decoration: none;
  color: white;
}

.books > ul > li > a > .item 
{
  position: relative;
}

.books > ul > li > a > .item > .item-overlay 
{
  bottom: 0;
  width: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
  height: 8rem;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.books > ul > li > a > .item > .item-overlay > .book-title
{
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  padding-top: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  font-weight:500;
}

.books > ul > li > a > .item > .item-overlay > .book-author
{
  font-family: 'Montserrat', sans-serif;
  padding: 1rem;
  font-size: .8rem;
  font-weight:300;

}


/* Navbar stuff */

nav > .menuToggle
{
  position:fixed;
  top: 25px;
  left: 25px;
  z-index: 1;
  
  -webkit-user-select: none;
  user-select: none;
}

nav > .menuToggle > ul > a
{
  text-decoration: none;
  color: #232323;
  
  transition: color 0.3s ease;
}

nav > .menuToggle > ul > a:hover
{
  color: tomato;
}


nav > .menuToggle > input
{
  display: block;
  width: 40px;
  height: 62px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  
  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
 nav > .menuToggle > span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  
  background: #cdcdcd;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

nav > .menuToggle > span:first-child
{
  transform-origin: 0% 0%;
}

nav > .menuToggle > span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
nav > .menuToggle > input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

/*
 * But let's hide the middle one.
 */
nav > .menuToggle > input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
nav > .menuToggle > input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
nav > .menuToggle > .menu
{
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  height:100vw;
  
  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

nav > .menuToggle > .menu > a > li
{
  padding: 10px 0;
  font-size: 22px;
}

/*
 * And let's slide it in from the left
 */
 nav > .menuToggle > input:checked ~ ul
 {
   transform: none;
 }

 /* End of Navbar stuff */